{% extends 'base.html.twig' %}

{% block title %}Continent index{% endblock %}

{% block stylesheets %}
<style>
    .container {
        margin-top: 20px;
    }

    h1 {
        color: #ffffff;
        text-shadow: 2px 2px 4px #000000;
        text-align: center;
        margin-bottom: 20px;
    }

    .table {
        margin-bottom: 20px;
        border-radius: 10px;
        overflow: hidden;
        background-color: #000000;
        color: #ffffff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .table th, .table td {
        border: 1px solid #ffa500; /* Orange border */
    }

    .table thead th {
        background-color: #343a40;
        color: #ffffff;
        font-weight: bold;
    }

    .table tbody tr {
        background-color: #000000;
        color: #ffffff;
    }

    .btn {
        margin-right: 5px;
    }

    .btn-warning {
        background-color: #ffc107;
        border-color: #ffc107;
    }

    .btn-warning:hover {
        background-color: #e0a800;
        border-color: #d39e00;
    }

    .btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;
    }

    .btn-danger:hover {
        background-color: #c82333;
        border-color: #bd2130;
    }

    .btn-success {
        background-color: #28a745;
        border-color: #28a745;
    }

    .btn-success:hover {
        background-color: #218838;
        border-color: #1e7e34;
    }
</style>
{% endblock %}

{% block body %}
<div class="container"> 
    <h1>Gestion des Continents</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for continent in continents %}
            <tr>
                <td>{{ continent.id }}</td>
                <td>{{ continent.nom }}</td>
                <td>
                    <a href="{{ path('app_continent_show', {'id': continent.id}) }}"><button type="button" class="btn btn-danger bi bi-eye"></button></a>
                    <a href="{{ path('app_continent_edit', {'id': continent.id}) }}"><button type="button" class="btn btn-success bi bi-pencil-square"></button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_continent_new') }}"><button type="button" class="btn btn-warning">Ajouter</button></a>
</div>
{% endblock %}
