{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-5">Article</h1>

    <div class="table-responsive">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th style="width: 150px;">Id</th>
                    <td>{{ article.id }}</td>
                </tr>
                <tr>
                    <th>Nom_article</th>
                    <td>{{ article.nomArticle }}</td>
                </tr>
                <tr>
                    <th>Prix_achat</th>
                    <td>{{ article.prixAchat }}</td>
                </tr>
                <tr>
                    <th>Marque</th>
                    <td>{{ article.marque.nomMarque }}</td>
                </tr>
                <tr>
                    <th>Couleur</th>
                    <td>{{ article.couleur.nom }}</td>
                </tr>
                <tr>
                    <th>Typebiere</th>
                    <td>{{ article.type.nomType }}</td>
                </tr>
                <tr>
                    <th>Volume</th>
                    <td>{{ article.volume }}</td>
                </tr>
                <tr>
                    <th>Titrage</th>
                    <td>{{ article.titrage }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="btn-container mt-3">
        <a href="{{ path('app_article_index') }}" class="btn btn-secondary bi bi-backspace-fill">Back to list</a>
        <a href="{{ path('app_article_edit', {'id': article.id}) }}" class="btn btn-primary bi bi-pencil-square">Edit</a>
        {{ include('article/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}